.single-quiz {
  margin: 0 15px;
  .title {
    text-transform: uppercase;
    font-size: 2em;
  }
  .category {
    position: relative;
    background-color: #ffffff;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048);
  }
  .info {
    margin: 10px 0px;
    text-transform: uppercase;
    .author-name,
    .date {
      text-transform: capitalize;
      font-weight: bold;
    }
  }
  .card {
    .card-footer-item {
      .button {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2em;
      }
    }
  }
}
