.footer {
  clear: both;
  position: relative;
  background-color: #f1f1e6;
  margin-top: -180px;
  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  margin-top: 10px;
  .section {
    padding: 5px 0px;
    text-transform: uppercase;
    .title {
      font-family: "Commando";
      font-size: 24px;
      font-weight: normal;
    }
    .item {
      display: block;
      position: relative;
      color: #1c1f3d;
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 10px;
      &::after {
        content: "";
        position: absolute;
        width: 50%;
        transform: scaleX(0);
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: #f6cd40;
        transform-origin: bottom right;
        transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
      }
      &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }
  .infos {
    p {
      text-transform: capitalize;
      font-weight: bold;
    }
  }
}
