.home-quiz {
  position: relative;
  height: 200px;
  overflow: hidden;
  background-color: #000000;
  margin: 10px 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 10px;
  .title {
    position: absolute;
    bottom: -60px;
    color: #ffffff;
    font-family: "Commando";
    font-weight: normal;
    font-size: 24px;
    left: 10px;
    transition: 0.2s ease-in all;
  }
  .image {
    div {
      height: 200px;
      width: 100%;
      object-fit: cover;
      opacity: 1;
      transition: 0.3s ease all;
    }
  }
  &:hover {
    .title {
      bottom: 10px;
    }
    .image {
      div {
        opacity: 0.2;
      }
    }
  }
}
